<!DOCTYPE html>
<html lang="en">

<head>
  <% include components/head.ejs %>
</head>

<body>
<% include components/header-li.ejs%>
<div class="breadcrumb">
  <div class="container">
    <span class="breadcrumb-item active"><b>Add New Book</b></span>
  </div>
</div>
<section class="static about-sec">
  <div class="container">
    <div id="form">
      <form>
        <div class="row mb-2">
          <div class="col-md-5">
            <input placeholder="Book Title" type="text" v-model="title" required>
            <span class="required-star">*</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-5">
            <input placeholder="Author" v-model="author" required>
            <span class="required-star">*</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-5">
            <input placeholder="Genre" v-model="genre" required>
            <span class="required-star">*</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-8 col-md-12">
            <button class="btn black" type="button" @click="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<% include components/footer.ejs %>
<% include components/ft-scripts.ejs %>
<script>
  (function ()
  {
    let form = new Vue({
                         el       : '#form',
                         data     : {
                           form : {
                             title : '',
                             author  : '',
                             genre  : '',
                           }
                         },
                         methods  : {
                           submit : function ()
                           {
                             axios.post('/api/books', {
                               email    : this.form.email,
                               password : this.form.pass,
                             }).then(function (response)
                                     {
                                       if(response.data.message.success === 1){
                                        alert(`Book Added Successfully`)
                                        }
                                        else{
                                        alert(`An Error occurred, please give it another try`)
                                        }
                                     })
                           }
                         },
                         computed : {
                           canSubmit : function ()
                           {
                             console.log(Object.keys(this.form));
                             return Object.keys(this.form).some(function (field)
                                                                {
                                                                  return field === "";
                                                                })
                           }
                         },
                       })
  }());
</script>
</body>

</html>
