<header>
  <div class="main-menu">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><b>Book</b> Ave</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="navbar-item">
              <a href="login.ejs" class=" btn black">
                <i class="fa fa-plus"></i>
                Add book</a>
            </li>
            <li class="navbar-item">
              <a href="/auth/logout" class="nav-link">Logout</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="get" action="/books">
            <input class="form-control mr-sm-2" value="<%= sq || "" %>" name="q" type="search" placeholder="Find Book..." aria-label="Search">
            <button type="submit" class="fa fa-search"></button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</header>
